---
import type { CollectionEntry } from 'astro:content';

import { SITE, DOCS } from '~/config';
import Layout from '@layouts/PageLayout.astro';
import MarkdownSidebar from '~/components/widgets/MarkdownSidebar.astro';
import DocsFooter from '~/components/widgets/DocsFooter.astro';

export type Props = CollectionEntry<'docs'>;

const page = Astro.props;
const { data, render } = Astro.props;
const { Content, headings } = await render();

const [version, ...pathParts] = page.id.split('/');
var editURL = data.edit_url;
if (!editURL || editURL == '') {
	editURL = `${DOCS.repo}/src/branch/next/docs/${pathParts.join('/')}`;
}
const historyURL = `${DOCS.repo}/commits/branch/${version}/docs/${pathParts.join('/')}`;

const meta = {
	title: `${data.title} | ${SITE.title}`,
	// description: headings[0]?.text || '',
};
---

<Layout meta={meta}>
	<section class="py-8 sm:py-16 lg:py-20 mx-auto">
		<div class="gap-x-10 lg:flex lg:items-start mx-auto px-6 sm:px-6 max-w-3xl">
			<MarkdownSidebar {headings} title={data.title} />
			<div
				class="container prose prose-steel dark:prose-invert prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:underline-offset-4 prose-a:decoration-steel-200 dark:prose-a:decoration-steel-500 hover:prose-a:text-primary-600 dark:hover:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lgr prose-li:break-words"
			>
				<h1 id="top" class="mb-6 pb-6 border-b border-steel-100 dark:border-steel-700">
					{data.title}
				</h1>
				<Content />
				<DocsFooter
					license={data.license}
					originURL={data.origin_url}
					originAuthor={data.origin_author}
					originTitle={data.origin_title}
					{editURL}
					{historyURL}
				/>
			</div>
		</div>
	</section>
</Layout>
